/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 50px; /* Ajusta según el tamaño del logotipo */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555; 
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #777; 
    color: #fff; 
}


