
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a2c4c9;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 50px; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #adb209; 
    color: white;
    text-decoration: none;
    border-radius: 51px; 
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #777; 
    color: #f3f3f3ff; 
}

.navbar2 ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar2 li {
    margin: 0 10px;
}

.navbar2 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #804197; 
    color: white;
    text-decoration: none;
    border-radius: 51px; 
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar2 a:hover {
    background-color: #777; 
    color: #f3f3f3ff; 
}

.banner {
    width: 100%;
    overflow: hidden; /* Para evitar que la imagen sobresalga */
}

.banner img {
    width: 100%; 
    height: auto; 
    display: block; 
}


.content-section {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    background-color: #95becdcf;
    border-radius: 8px; /* Bordes redondeados*/
}

.image-container {
    flex: 1;
    margin-right: 20px;
    border-radius: 8px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px; 

}
.overlay-text {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-20%, 120%); /* Centrado perfecto */
    color: rgb(0, 0, 0); /* Color del texto */
    font-size: 48px; /* Ajusté el tamaño para que sea proporcional */
    font-weight: bold; /* Negrita */
    text-shadow: 2px 2px 4px #FFFF00; /* Sombra de texto */
    text-align: center; /* Centrado horizontal del texto */
    pointer-events: none; /* El texto no interferirá con eventos del mouse */
    font-family: 'Arial', sans-serif; /* Fuente más legible */
    background-color: rgba(0, 0, 0, 0); /* Fondo azul claro traslúcido para resaltar el texto */
    padding: 10px 20px; /* Espaciado interno para dar margen entre el texto y los bordes */
    border-radius: 15px; /* Bordes redondeados para darle una apariencia más suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* Pequeña sombra para darle profundidad */
}

.text-container {
    flex: 2;
    background-color: #95becdaf;
    
}

.text-container h2 {
    margin-top: 0;
    color: 	#ede2f1;
    font-size: 42px;
    font-weight: bold;
    
}

.text-container p {
    color: #000000; 
    font-size: 18px;
    line-height: 1.6;
    margin: 0; 
    text-align: justify;
    max-width: 800px;
    padding: 10px; 
}
.text-container li {
    color: #000000; 
    font-size: 18px;
    line-height: 1.6; /* Altura de línea del párrafo */
    margin: 0;
    max-width: 800px;
    padding: 10px; 
    text-align: justify;
}
.separator {
    text-align: center;
    margin: 20px 0;
}

.separator img {
    display: block; 
    width: 100%;
    height: 110px; 
}


.additional-section, .final-section {
    padding: 20px;
    margin: 20px;
    background-color: #95becdbf; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.additional-section h2{
    margin-top: 0;
    color: #ede2f1; 
    font-size: 42px; 
    font-weight: bold; 
    text-align: justify;
    text-align: center;
}

.additional-section p{
    color: #000000; /* Color del texto del párrafo */
    font-size: 18px; /* Tamaño del texto del párrafo */
    line-height: 1.6; /* Altura de línea del párrafo */
    margin: 0;
    max-width: 800px;
    padding: 10px; 
    text-align: justify;
    
   
}

.additional-section li {
    color: #000000; 
    font-size: 18px;
    line-height: 1.6; /* Altura de línea del párrafo */
    margin: 0;
    max-width: 800px;
    padding: 10px; 
    text-align: justify;
    
}

.image-container2 {
    display: flex; /* Usar flexbox para controlar el layout */
    justify-content: right; /* Alinear el contenido al final del contenedor (a la derecha) */
    margin-right: 20px;
    border-radius: 8px; /* Corregir el valor del radio de borde */
    margin-top: -300px;
}

.image-container2 img {
    width: 38%; 
    height: auto; 
    border-radius: 8px; 
    object-fit: cover; 
    float: right;
}


.pie-de-pagina {
    background-color: #333; /* Fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    
}

.pie-de-pagina p {
    margin: 0;
    text-align: center;
}
