
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a2c4c9 ;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 50px; 
}

.navbar3 ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar3 li {
    margin: 0 10px;
}

.navbar3 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a2c4c9 ; 
    color: white;
    text-decoration: none;
    border-radius: 51px; 
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.navba3 a:hover {
    background-color: #777; 
    color: #f3f3f3ff; 
}

.banner {
    width: 100%;
    overflow: hidden; /* Para evitar que la imagen sobresalga */
}

.banner img {
    width: 100%; 
    height: auto; 
    display: block; 
}


.content-section {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px; /* Bordes redondeados*/
}

.image-container {
    flex: 1;
    margin-right: 20px;
    border-radius: 8px%
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px; 

}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(231, 231, 231);
    font-size: 64px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #af00db;
    text-align: justify;
    pointer-events: none;
    

}
.text-container {
    flex: 2;
    background-color: #f3f3f3;
}

.text-container h2 {
    margin-top: 0;
    color: 	#804197;
    font-size: 42px;
    font-weight: bold;
    
}

.text-container p {
    color: #000000; 
    font-size: 18px;
    line-height: 1.6;
    margin: 0; 
    text-align: justify;
    max-width: 800px;
    padding: 10px; 
}
.separator {
    text-align: center;
    margin: 20px 0;
}

.separator img {
    display: block; 
    width: 100%;
    height: 110px; 
}


.additional-section, .final-section {
    padding: 20px;
    margin: 20px;
    background-color: #f3f3f3; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.additional-section h2, .final-section h2 {
    margin-top: 0;
    color: #a2c4c9; 
    font-size: 42px; 
    font-weight: bold; 
    text-align: justify;
    text-align: center;
}

.additional-section p{
    color: #000000; /* Color del texto del párrafo */
    font-size: 18px; /* Tamaño del texto del párrafo */
    line-height: 1.6; /* Altura de línea del párrafo */
    margin: 0;
    max-width: 800px;
    padding: 10px; 
    text-align: justify;
    
   
}

.additional-section li {
    color: #000000; 
    font-size: 18px;
    line-height: 1.6; /* Altura de línea del párrafo */
    margin: 0;
    max-width: 800px;
    padding: 10px; 
    text-align: justify;
    
}
.final-section p {
    color: #000000; /* Color del texto del párrafo */
    font-size: 18px; /* Tamaño del texto del párrafo */
    line-height: 1.6; /* Altura de línea del párrafo */
    margin: 0;
    max-width: 1010px;
    padding: 20px; 
    text-align: center;
    
    
   
}
.image-container2 {
    display: flex; /* Usar flexbox para controlar el layout */
    justify-content: right; /* Alinear el contenido al final del contenedor (a la derecha) */
    margin-right: 20px;
    border-radius: 8px; /* Corregir el valor del radio de borde */
    margin-top: -300px;
}

.image-container2 img {
    width: 38%; 
    height: auto; 
    border-radius: 8px; 
    object-fit: cover; 
    float: right;
}


.pie-de-pagina {
    background-color: #333; /* Fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    
}

.pie-de-pagina p {
    margin: 0;
    text-align: center;